<footer class="footer mt-4">

<div>
	<a class="nav-link-footer fs-4" href="{{ path('footer.legal_notice') }}">Mentions légales</a>
</div>
	
<div class="nav-link-footer footer-copyright text-center fs-4">@2023 Copyright: Iryna_G.
</div>

<div>
<a class="nav-link-footer fs-4" href="{{ path('footer.privacy_policy') }}">Politique de confidentialité</a>
</div>
	
</footer>